<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turing Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133436720-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133436720-1');
    </script>
  </head>
  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item" href="/admin">
          ADMIN
        </div>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item {{ request.url().indexOf('/admin/products') === 0 ? 'is-active' : '' }}" href={{ route('products.index') }}>Products</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a href={{ route('attributes.index') }} class="navbar-link is-arrowless {{ request.url().indexOf('/admin/attributes') === 0 || request.url().indexOf('/admin/attribute-values') === 0? 'is-active' : '' }}">
              Attributes 
            </a>
            <div class="navbar-dropdown">
              <a href={{ route('attribute-values.index') }} class="navbar-item {{ request.url().indexOf('/admin/attribute-values') === 0 ? 'is-active' : '' }}">
                Values 
              </a>
            </div>
          </div>
          <a href={{ route('categories.index') }} class="navbar-item {{ request.url().indexOf('/admin/categories') === 0 ? 'is-active' : '' }}">Categories</a>
          <a href={{ route('departments.index') }} class="navbar-item {{ request.url().indexOf('/admin/departments') === 0 ? 'is-active' : '' }}">Departments</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              @loggedIn
              <form action="{{ route('admin.sessions.destroy') + '?_method=DELETE' }}" method="POST">
                {{ csrfField() }}
                <button class="button is-warning" type="submit" onclick="return confirm('Logout from Admin?')">
                  Logout
                </button>
              </form>
              @else
                <a class="button is-success">
                  Login
                </a>
              @endloggedIn
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        @if(flashMessage('notification'))
          <div class="notification is-info">
            {{ flashMessage('notification') }}
          </div>
        @endif
        <div class="content">
          @!section('content')
        </div>
      </div>
    </section>
  </body>
</html>
